.contain{
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    position: absolute;
}
.com{
    width:7.2rem;
    height: .98rem;
    border-bottom: 1px solid #dfe1e6;
    margin-left: .3rem;
    font-size: .3rem;
    background-color: #f5f5f5;
}
.detail-name{
    height: 2rem;
    font-size: .31rem;
    color: #c5c5c5;
}
.detail-wrap{
    height: 2.38rem;
    margin-left: .3rem;
    font-size: .3rem;
    padding-top: .3rem;
}
textarea{
    width: 5rem;
    height: 2rem;
    font-family:Arial;
    background-color: #f5f5f5;
    font-size: .31rem;
    padding: 0 ;
    margin: 0;
    margin-left: .15rem;
}
.default-wrap{
    width:100% ;
    height: .98rem;
    background-color: #ffffff;
    padding: 0 .3rem;
    font-size: .31rem;
}
.checked{
    width:.39rem ;
    height: .39rem;
   
}
.save{
    height: .8rem;
    border-bottom: 1px solid #dfe1e6;
    font-size: .3rem;
    background-image: linear-gradient(to right,#686194, rgb(90, 81, 151));
    color: #ffffff;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: .3rem;
    border-radius: .5rem;
    width: 80%;
}